        h1{
            color: blueviolet;
            border: blue 2px dashed;
            width: fit-content;
            font-family: Bahnschrift;
        }
        h2{
            color: navy;
        }
        p{
            font-family: Calibri;
        }
        button{
            background-color: red;
        }